@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(775413/attachments/OpenSans.woff) format('woff');
}
body { padding-top: 56px; }
#popup {
	margin: 0px 0px;
	width: 300px;
}