@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://gnats.juniper.net/web/default/775413/attachments/OpenSans.woff) format('woff');
}
body { padding-top: 56px; }
#popup {
	margin: 0px 0px;
	width: 300px;
}

#options {
	margin: 0px 0px;
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}